name: 'Build and Publish devcontainer image' 
 
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Debug Print Ref Info
        run: |
          echo "inputs.glueops_codespace_tag: ${{ inputs.glueops_codespace_tag }}"
          echo "event.workflow_run.head_branch: ${{ github.event.workflow_run.head_branch }}"
          echo "event.workflow_run.head_sha: ${{ github.event.workflow_run.head_sha }}"
          echo "github.ref: ${{ github.ref }}"
          echo "event_name: ${{ github.event_name }}"
          
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          ref: ${{ inputs.glueops_codespace_tag || github.event.workflow_run.head_sha }}

      - name: Log in to Docker Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Variables for Tags
        uses: rlespinasse/github-slug-action@v3.x

      - name: Build and run dev container task
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3
        with:
          imageName: ghcr.io/${{ env.GITHUB_REPOSITORY_OWNER_PART_SLUG }}/${{ env.GITHUB_REPOSITORY_NAME_PART_SLUG }}
          imageTag: ${{ env.GITHUB_REF_SLUG }},latest
          push: always
        env:
          VERSION: "${{ env.GITHUB_REF_SLUG }}"
